@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Coffe';
    src: url('../fonts/Coffee\ Fills.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #8DBEE7;
    --text-color: #2c3e50;
    --accent-color: #e74c3c;


    --color-jordy-blue-50: #f1f7fd;
    --color-jordy-blue-100: #e0edf9;
    --color-jordy-blue-200: #c9e0f4;
    --color-jordy-blue-300: #a3cded;
    --color-jordy-blue-400: #8dbee7;
    --color-jordy-blue-500: #5895d9;
    --color-jordy-blue-600: #437bcd;
    --color-jordy-blue-700: #3a68bb;
    --color-jordy-blue-800: #345699;
    --color-jordy-blue-900: #2e497a;
    --color-jordy-blue-950: #202e4b;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Coffe;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--background-color);
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--accent-color);
}

.parallax {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: var(--background-color);
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: translateZ(0);
    will-change: transform;
}

.parallax-layer.clouds {
    z-index: 1;
    height: 40%;
    animation: moveClouds 35s linear infinite;

}

.clouds {
    margin-top: 3rem;
    padding: 1rem;
    width: 200%;
    padding: 26rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--text-color);
    text-align: center;
}

@keyframes moveClouds {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}

.sectioncard {
    width: 95%;
    margin: 0 auto;
    background-color: var(--color-jordy-blue-50);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    border-radius: 15px;
}

#Servicios, #packs {
    padding: 4rem 2rem;


}

#Servicios h2, #packs h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-jordy-blue-900);
}

#Servicios p, #packs p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-jordy-blue-900);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    background-color: var(--color-jordy-blue-50);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    width: calc(50.333% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-jordy-blue-700);
}

.card p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--color-jordy-blue-900);
}

.card button {
    background-color: var(--color-jordy-blue-500);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: var(--color-jordy-blue-700);
}

.packetContainer {
    padding: 2rem;
    background-color: var(--color-jordy-blue-200);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.subpacketContainer {
    text-align: center;
}

.subpacketContaniner h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.subpacketContainer h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.packs {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.pack {
    background-color: var(--color-jordy-blue-50);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    width: calc(33.333% - 2rem);
}

.pack h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-jordy-blue-700);
}

.pack p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.packimgcontainer {
    margin-bottom: 1rem;
}

.packimgcontainer img {
    max-width: 100%;
    border-radius: 4px;
}

.pack button {
    background-color: var(--color-jordy-blue-500);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pack button:hover {
    background-color: var(--color-jordy-blue-700);
}

footer {
    background-color: var(--background-color);
    padding: 2rem 0;
    text-align: center;
}

footer p {
    color: var(--text-color);
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.colab-container {
    margin-bottom: 2rem;
}

.colab-container h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.colabdivcontainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.colab-container-card {
    background-color: var(--color-jordy-blue-50);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.3s ease;
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colab-container-card img {
    max-width: 100%;
    border-radius: 4px;
}

.colab-container-card:hover {
    transform: scale(1.05);
}

.importantlinks {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.importantlinks a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    background-color: var(--color-jordy-blue-500);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.importantlinks a:hover {
    color: var(--accent-color);
    background-color: var(--color-jordy-blue-700);
}


/*Faqs row*/

/**Typeo CSS Start**/


.faqcontainer {
	max-width: 1200px;
	width: 100%;
    height: 100vh;
	padding: 0px 15px;
	margin: auto;
}

/**Typeo CSS End**/
.faq-title {
	text-align: center;
	font-size: 45px;
	font-weight: normal;
    margin: 2rem 1rem;
}

.faq-group {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.faq-group .faq-left {
	width: 38%;
}

.faq-group .faq-right {
	width: 58%;
	border-left: var(--color-jordy-blue-50) 1px solid;
	padding-left: 30px;
	margin-left: 4%;
}

.faq-group h3 {
	font-size: 24px;
	font-weight: normal;
	margin: 35px 0 15px 0;
}

.faq-group h3:first-child {
	margin-top: 0px;
}
.faq-btns {
 margin-bottom: 40px;
}
.faq-btn {
	width: 100%;
	display: inline-block;
	border: var(--color-jordy-blue-950) 1px solid;
	border-radius: 4px;
	text-align: center;
	margin: 10px 0;
	background-color: #fff;
	padding: 14px;
	text-decoration: none;
	color: var(--color-jordy-blue-950);
	transition: 0.5s all;
}

.faq-btn:hover {
	background-color: var(--color-jordy-blue-100);
	color: var(--color-jordy-blue-950);
}

.faq-item {
	width: 100%;
	margin: 7px 0px;
	border-bottom: var(--color-jordy-blue-50) 1px solid;
}

.faq-item .faq-label {
	position: relative;
	width: 100%;
	padding: 12px 26px 12px 0px;
	cursor: pointer;
	font-size: 18px;
	color: var(--color-jordy-blue-950);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.faq-item .faq-label i {
	width: 18px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}

.faq-item .faq-label i:before {
	content: '';
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	width: 18px;
	height: 2px;
	background-color: #000;
}

.faq-item .faq-label i:after {
	content: '';
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	width: 2px;
	height: 18px;
	background-color: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
}

.faq-item.faq-item-show .faq-label i:after {
	opacity: 0;
}

.faq-cont {
	transition: 0.3s all;
	overflow: hidden;
	height: 0px;
}

.faq-item.faq-item-show  .faq-cont {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: auto;
	height: auto;
}

.faq-cont p {
	margin: 0px 0 20px 0;
}

.faq-cont p:last-child {
	margin-bottom: 0px;
}

@media(max-width:992px) {
	.faq-group .faq-left{
  width: 100%;
 }
.faq-group .faq-right {
 width: 100%;
 border-left: none;
 padding-left: 0;
 margin-left: 0;
}
}	