@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Coffe';
    src: url('../fonts/Coffee\ Fills.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #8DBEE7;
    --text-color: #2c3e50;
    --accent-color: #e74c3c;


    --color-jordy-blue-50: #f1f7fd;
    --color-jordy-blue-100: #e0edf9;
    --color-jordy-blue-200: #c9e0f4;
    --color-jordy-blue-300: #a3cded;
    --color-jordy-blue-400: #8dbee7;
    --color-jordy-blue-500: #5895d9;
    --color-jordy-blue-600: #437bcd;
    --color-jordy-blue-700: #3a68bb;
    --color-jordy-blue-800: #345699;
    --color-jordy-blue-900: #2e497a;
    --color-jordy-blue-950: #202e4b;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Coffe;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--background-color);
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--accent-color);
}

.parallax {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: var(--background-color);
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: translateZ(0);
    will-change: transform;
}

.parallax-layer.clouds {
    z-index: 1;
    height: 40%;
    animation: moveClouds 35s linear infinite;

}

.clouds {
    margin-top: 3rem;
    padding: 1rem;
    width: 200%;
    padding: 26rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--text-color);
    text-align: center;
}

@keyframes moveClouds {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}

.sectioncard {
    width: 95%;
    margin: 0 auto;
    background-color: var(--color-jordy-blue-50);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    border-radius: 15px;
}

#Servicios, #packs {
    padding: 4rem 2rem;


}

#Servicios h2, #packs h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-jordy-blue-900);
}

#Servicios p, #packs p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-jordy-blue-900);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    background-color: var(--color-jordy-blue-50);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    width: calc(50.333% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-jordy-blue-700);
}

.card p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--color-jordy-blue-900);
}

.card button {
    background-color: var(--color-jordy-blue-500);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: var(--color-jordy-blue-700);
}

.packetContainer {
    padding: 2rem;
    background-color: var(--color-jordy-blue-200);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.subpacketContaniner {
    text-align: center;
    margin-bottom: 2rem;
}

.subpacketContaniner h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.subpacketContainer h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.packs {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.pack {
    background-color: var(--color-jordy-blue-50);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    width: calc(33.333% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.pack h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-jordy-blue-700);
}

.pack p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.packimgcontainer {
    margin-bottom: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-jordy-blue-500);
    border: solid var(--color-jordy-blue-700) 5px;
    overflow: hidden;
}

.packimgcontainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1rem;
}

.pack button {
    background-color: var(--color-jordy-blue-500);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pack button:hover {
    background-color: var(--color-jordy-blue-700);
}

footer {
    background-color: var(--background-color);
    padding: 2rem 0;
    text-align: center;
}

footer p {
    color: var(--text-color);
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.colab-container {
    margin-bottom: 2rem;
}

.colab-container h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.colabdivcontainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.colab-container-card {
    background-color: var(--color-jordy-blue-50);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.3s ease;
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colab-container-card img {
    max-width: 100%;
    border-radius: 4px;
}

.colab-container-card:hover {
    transform: scale(1.05);
}

.importantlinks {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.importantlinks a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    background-color: var(--color-jordy-blue-500);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.importantlinks a:hover {
    color: var(--accent-color);
    background-color: var(--color-jordy-blue-700);
}


